In [29]:
fruits=["orange", "mango", "apple"]
fruits

['orange', 'mango', 'apple']

In [30]:
fruits.append("banana")
fruits

['orange', 'mango', 'apple', 'banana']

In [31]:
fruits.insert(2, "watermelon")
fruits

['orange', 'mango', 'watermelon', 'apple', 'banana']

In [35]:
fruits.extend(["pineapple", "grapes", "apple"])
fruits

['orange',
 'mango',
 'watermelon',
 'apple',
 'banana',
 'pineapple',
 'grapes',
 'pineapple',
 'grapes',
 'pineapple',
 'grapes',
 'apple']

In [36]:
fruits.index('pineapple')

5

In [37]:
fruits.count("apple")

2

In [40]:
fruits2=fruits.copy() #by value
fruits2

['orange',
 'mango',
 'watermelon',
 'apple',
 'banana',
 'pineapple',
 'grapes',
 'pineapple',
 'grapes',
 'pineapple',
 'grapes',
 'apple']

In [44]:
fruits3=fruits #by reference
fruits3

['orange',
 'mango',
 'watermelon',
 'apple',
 'banana',
 'pineapple',
 'grapes',
 'pineapple',
 'grapes',
 'pineapple',
 'grapes',
 'apple']

In [46]:
fruits.clear()
fruits

[]

In [63]:
fruits=["pineapple", "grapes", "apple", "orange"]
fruits

['pineapple', 'grapes', 'apple', 'orange']

In [62]:
del fruits[]

['pineapple']

In [14]:
student_data = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]

In [15]:
student_data.update(1)

AttributeError: 'list' object has no attribute 'update'

In [13]:
data = [['Yasir Shah', 22], [300000, 'Male', 'A.I']]

In [9]:
newData = [['Saad', 27, 'Male'], ['Yasir', 22, 'Male'], ['Nasir', 29, 'Male'], ['Sajid', 35, 'Male']]

In [11]:
for listItem in data:
    print("*" * 40)
    print(listItem)
    for value in listItem:
        print(value)

****************************************
['Yasir Shah', 22]
Yasir Shah
22
****************************************
[300000, 'Male', 'A.I']
300000
Male
A.I

In [1]:
myList= [1,2,4,8]

In [2]:
myList[2]= 8

In [4]:
myList

[1, 2, 8, 8]

In [36]:
for a in range(1,11):
    print(a,"x 5 =",a*5)
    
print()
    
for a in range(1,11):
    print(a,"x 6 =",a*6)
    
print()
    
for a in range(1,11):
    print(a,"x 7 =",a*7)  
    
print()
    
for a in range(1,11):
    print(a,"x 8 =",a*8)   
    
print()
    
for a in range(1,11):
    print(a,"x 9 =",a*9)   
    
print()
    
for a in range(1,11):
    print(a,"x 10 =",a*10)

1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60

1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
10 x 7 = 70

1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80

1 x 9 = 9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
6 x 9 = 54
7 x 9 = 63
8 x 9 = 72
9 x 9 = 81
10 x 9 = 90

1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100
11 x 10 = 110

In [45]:
fruits=["pineapple", "grapes", "apple", "orange"]

In [50]:
for fruit in fruits:
    print(f"fruits are very tasty {fruit}")

fruits are very tasty pineapple
fruits are very tasty grapes
fruits are very tasty apple
fruits are very tasty orange

In [2]:
# Assignment 2

print('this program will find the table of all numbers, which are given in the range')
for x in range(int(input('Enter number from where to start: ')),int(input('Enter number from where to end: '))+1):
    for inc in range(1,11):
        print(str(x) + ' x ' + str(inc) + " = " + str(x*inc))
    print('\n')

this program will find the table of all numbers, which are given in the range
Enter number from where to start: 5
Enter number from where to end: 10
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50


6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60


7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70


8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80


9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90


10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100